 <%@ Page Language="vb" MasterPageFile="~/Site1.Master"  AutoEventWireup="false" CodeBehind="PreviewSvcContactListRpt.aspx.vb" Inherits="SvcContactListWeb.PreviewSvcContactListRpt" %>
<%@ Register assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" namespace="CrystalDecisions.Web" tagprefix="CR" %>
    <asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
        <%--         <CR:CrystalReportViewer ID="crvSvcContactList" runat="server" DisplayGroupTree="False" DisplayToolbar="True" EnableDatabaseLogonPrompt="False" />
--%>    </asp:Content>
