﻿tableList
{   width:350px;
    border-spacing: 0px; 
    border-collapse: collapse;
    text-align: center;
	height: 124px;
}

.tableSearch
{   width:350px;
    border-spacing: 0px; 
    border-collapse: collapse;
    text-align: right;
	height: 100px;
}

.accordionHeader
{
	border: 1px solid #2F4F4F;
	color: White;
	background: #2E4d7B;
	font-family:Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	margin-top: 5px;
	cursor: pointer;
	}

.accordionContent
{
	background-color: #D3DEEF;
	border: 1px dashed #2F4F4F;
	border-top: none;
	padding: 5px;
	padding-top: 10px;
	}

.accordionLink
{
	background-color: #D3DEEF;
	color:White 
	}
	
/*AutoComplete flyout */
.autocomplete_completionListElement
{
    margin : 0px!important ;
    background-color : inherit ;
    color : windowtext ;
    border : buttonshadow ;
    border-width : 1px ;
    border-style : solid ;
    cursor : 'default' ;
    overflow : auto ;
    height : 200px ;
    font-family : Tahoma ;
    font-size : small ;
    text-align : left ;
    list-style-type : none ;
    }
/* AutoComplete highlighted item */
.autocomplete_highlightedListItem
   {
    background-color : #ffff99 ;
    color : black ;
    padding : 1px ;
    }

    /* AutoComplete item */
.autocomplete_listItem
    {
    background-color : window ;
    color : windowtext ;
    padding : 1px ;
   }
   
.odd
{
       background : #eff2ff;
}

.dynamicPopulate_Normal
{
	background: #D3DEEF;
	border:silver 1px inset;
	padding:2px;
	text-align:left;
	height:2em;
	margin:5px;
	width:600px;
}

.dynamicPopulate_Updating
{
	background-color: #2E4d7B;
	background-repeat:no-repeat;
	border:silver 1px inset;
	padding:2px;
	text-align:left;
	height:2em;
	margin:5px;
	width:600px;
}
